img {
  padding: 10px;
  border: 1px solid black;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  border: 3px solid black;
}

.title {
  padding: 20px 0px;
}

.stats, .description {
  font-size: medium;
  max-width: 200px;
  padding-bottom: 20px;
}

.form {
  margin-top: auto;
}

.input-and-add {
  display: flex;
  gap: 30px;
  line-height: 28.5px;
}

.input, .button, .added {
  font-size: large;
}
