.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  border: solid black 2px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

em {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}

.note {
  margin: 30px;
}
