* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
}

.card-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 30px;
  margin: 50px;
}
