.top-of-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px;
}

.items-and-button {
  display: flex;
  justify-content: flex-end;
  gap: 30px
}

.icon-and-num {
  display: flex;
}

.num-in-cart {
  border: solid 1px black;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 265px);
  justify-content: center;
  gap: 20px;
}
