* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 265px);
  justify-content: center;
  gap: 20px;
}
